body{
    font-family: sans-serif;
    background-color: rgb(4, 105, 4);
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}
header{
    display: flex;
    min-height: 70px;
    background-color: rgb(4, 105, 4);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    }
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 50px;
    margin-right: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color: black;
}
@media (max-width: 700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px;
    }
}

.wrap {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right,rgb(0 0 0 /.3),rgb(0 0 0 /.3)), url(https://fotografias.larazon.es/clipping/cmsimages01/2020/03/19/68D99156-B948-4378-A242-4959E892A05D/69.jpg?crop=1298,730,x81,y0&width=1280&height=720&optimize=low&format=jpg);
background-size: cover;
background-position: center;
}

.wrap-texto{
    color: white;
    text-align: center;
    width: 50%;
    font-size: 35px;
    padding: 0 250px;
   }